body,
ul,
input {
  padding: 0;
  margin: 0;
}
.form {
  padding: 10px;
  width: 260px;
}
.items {
  color: #6c6c6c;
  font-size: 12px;
}
.group {
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}
.items > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.save {
  border: 1px solid;
  display: block;
  width: 80px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 10px auto;
  background-color: rgb(255, 84, 5);
  border-radius: 4px;
  color: #fff;
}
input {
  border: 1px solid #d8d8d8;
  color: #a6a6a6;
  height: 24px;
  padding: 0 4px;
}
